<div id="booking-index">
   <h1>Bookings</h1>
    <% if @current_user.present? %>
      <%= link_to('Make a new booking', houses_path) %>
      <br>

      </table>
    <% else %>
      <h3>Please Log in or Sign up to continue</h3>
    <% end %>
</div>

