<div id="logo_image">
  <h2>Home</h2>
  <img src="/assets/trinity_logo.png">
</div>

<div id="intro_container">
<h3>Introduction</h3>
<p>Trinity Vineyard is 60 acres of beautifully landscaped ground nestles in the centre of Lovedale.<br>Positioned next to Tatler Wines Vineyard and Winery... One of the hosts of The Lovedale Long Lunch.<br>Lovedale House and Trinity Cottage have fantastic views over a ten acre dam that is home to an amazing abundance of wildlife.<br>There are six acres of vines directly outside your door.<br><br>One of the most beautiful spots in the Hunter Valley<br>Peace and Serenity await</p>
</div>